PORT=5001
APP_DEPLOY_TARGET=admin_internal
SESSION_SECRET=481756cf4a45d39bd3e3ea8ae3180453dc8c6541c2975dface62dc13f9b13ca7
ADMIN_EMAIL=admin@digi-tech.local
ADMIN_PASSWORD=ChangeMe123!
PUBLIC_API_ALLOWED_ORIGINS=*
PUBLIC_API_ALLOW_CREDENTIALS=0
ADMIN_ALLOWED_IPS=
